openapi: 3.1.0

info:
  title: Sewain API
  version: 0.1.0
  description: |
    Fase 1 — Rental & sewa.

    **Berkas ini sengaja belum lengkap.** Ia memuat konvensi dari `04-api-spec.md` §2 yang
    dipakai setiap endpoint — autentikasi, envelope error, paginasi, rate limit — plus
    permukaan yang sudah dibangun, dan tidak lebih.

    Path ditambahkan oleh item backlog yang memilikinya: `S1-016` resources,
    `S1-024` ketersediaan, `S1-030` booking, dan seterusnya. Menambahkan semuanya di muka
    mendahului keputusan desain yang justru jadi isi item-item itu.

    Yang sudah mendarat: `S1-008` empat path auth, `S1-009` `/settings`, `S1-010`
    `/users` + `/users/{id}`, `S1-082` `/auth/register`, dan `S1-084`
    `/auth/verify-email`, `/auth/verify-email/resend`, `/auth/accept-invitation`,
    dan `S1-016`/`S1-017` `/resources`, `/resources/{id}`, `/resources/{id}/units`,
    `/units/{id}`.

    Jadi berkas ini **kurang** dibanding `04-api-spec.md` §3–§8, bukan **bertentangan**
    dengannya. Aturan di `CLAUDE.md` tetap berlaku untuk apa pun yang dijelaskan dua-duanya:
    ubah satu, ubah yang lain, di commit yang sama.

    **Tiga endpoint jalur gateway sengaja tidak ada di sini** dan tetap begitu selama fase 1
    (`04-api-spec.md` §3.8.1): `POST /invoices/{id}/payment-link`,
    `POST /portal/bookings/{token}/payment-link`, `POST /webhooks/payments/{provider}`.
    Tidak terdaftar berarti tidak ada method-nya di kode generated, dan hasilnya `404` —
    bukan `503`. Endpoint yang ada tapi selalu gagal akan digenerate lalu dipanggil orang.

    `/healthz` juga sengaja tidak ada. Liveness probe itu sifat cara layanan di-deploy, bukan
    sifat kontraknya; menaruhnya di sini membuat setiap perubahannya jadi perubahan kontrak.

servers:
  - url: https://app.sewain.id/api/v1
    description: |
      Produksi — backoffice. Domainnya belum dibeli; lihat `05-backlog.md` §M6, `S1-073`.
  - url: http://localhost:8080/api/v1
    description: Development lokal, terhadap layanan host dari `S1-001`.

# Setiap endpoint butuh bearer token kecuali ia memilih keluar dengan `security: []`.
# Yang tanpa autentikasi: login, refresh, register (S1-082), dan verify-email (S1-084) --
# empat jalur yang memang harus jalan sebelum ada sesi. Selebihnya butuh token, DAN butuh
# email terverifikasi (BR-006): gerbangnya satu middleware, bukan atribut per path di sini.
security:
  - bearerAuth: []

paths:

  /auth/register:
    post:
      operationId: register
      summary: Daftarkan usaha baru beserta pemiliknya
      description: |
        **Satu-satunya jalur yang menciptakan usaha.** `POST /users` tidak pernah
        membuatnya — ia mengundang operator ke usaha yang sudah ada (BR-004).

        Baris `owners` dan baris `users` ber-`role = 'owner'` terbit dalam satu transaksi.
        Gagal di tengah tidak boleh meninggalkan usaha yang tidak bisa dimasuki siapa pun.

        **`slug` tidak ditanyakan di sini.** Ia opsional, butuh paket `usaha` ke atas, dan
        diisi belakangan dari `PATCH /settings` (BR-025). Tiap field di layar daftar adalah
        tempat orang berhenti, dan memilih subdomain adalah keputusan yang belum bisa
        diambil sebelum produknya terlihat.

        Balasannya membawa sesi yang langsung jadi — pemilik tidak perlu login lagi. Tapi
        ia mendarat di **dinding verifikasi**, bukan dashboard: sesinya diterbitkan justru
        supaya ia bisa memanggil `resend` tanpa login ulang (BR-006).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Usaha dan pemiliknya terbit. Sesi ikut di dalamnya.
          headers:
            Set-Cookie:
              description: Refresh token, httpOnly, Secure, SameSite=Lax, host-only.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/verify-email:
    post:
      operationId: verifyEmail
      summary: Tukar token verifikasi dengan email yang terverifikasi
      description: |
        Sekali pakai, umur 24 jam. Kedaluwarsa, sudah dipakai, atau tidak dikenal →
        `422 verification-token-invalid`.

        Tanpa autentikasi: tautannya dibuka dari surel, dan browser yang membukanya belum
        tentu browser yang mendaftar. Tokennya sendiri yang jadi bukti.

        Kedaluwarsa bukan jalan buntu — `resend` selalu tersedia (BR-006).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "204":
          description: Terverifikasi. `users.email_verified_at` terisi.
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /auth/verify-email/resend:
    post:
      operationId: resendVerification
      summary: Kirim ulang surel verifikasi
      description: |
        Butuh sesi, bukan token verifikasi — pemanggilnya sudah login, cuma belum
        terverifikasi. Itu sebabnya `POST /auth/register` membalas dengan sesi.

        3 req/jam per pengguna (§7). **Selalu tersedia**: satu-satunya hal yang bisa
        dilakukan akun yang belum terverifikasi adalah memverifikasi dirinya, jadi
        menutup jalan ini berarti menutup satu-satunya jalan keluar (BR-006).
      responses:
        "204":
          description: Surel dikirim ulang ke alamat terdaftar.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/accept-invitation:
    post:
      operationId: acceptInvitation
      summary: Terima undangan dan pasang password
      description: |
        Jalur yang membuat baris `users` ber-`status = 'invited'` dari `POST /users`
        akhirnya bisa dipakai. Ia memasang `password_hash`, menyetel `status = 'active'`,
        **dan mengisi `email_verified_at` sekaligus**.

        Yang terakhir itu bukan jalan pintas: undangan hanya bisa diterima lewat tautan di
        emailnya, jadi menerimanya **sudah** bukti kendali atas alamat itu. Mengirim surel
        verifikasi kedua sesudah surel undangan adalah meminta bukti yang sama dua kali
        (BR-004, BR-006).

        Balasannya sesi yang langsung jadi, dan operator ini mendarat di dashboard — bukan
        di dinding verifikasi, karena ia sudah melewatinya.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:
                  type: string
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: Undangan diterima. Akun aktif dan terverifikasi.
          headers:
            Set-Cookie:
              description: Refresh token, httpOnly, Secure, SameSite=Lax, host-only.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /auth/login:
    post:
      operationId: login
      summary: Tukar email dan password dengan access token
      description: |
        Usahanya diturunkan dari baris `users` — `email` unik di seluruh sistem, jadi ia
        menunjuk tepat satu user dan karenanya tepat satu usaha. Sengaja tidak ada parameter
        usaha, slug, maupun subdomain (BR-004).

        Kalau berhasil, refresh token diset sebagai cookie httpOnly, Secure, SameSite=Lax.
        Ia tidak pernah ada di body respons, tempat script bisa membacanya.

        Password salah, email tidak dikenal, dan akun nonaktif semuanya dijawab `401` yang
        sama. Selisih apa pun di antara ketiganya memberi tahu penyerang email mana yang ada.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Berhasil masuk.
          headers:
            Set-Cookie:
              description: Refresh token, httpOnly, Secure, SameSite=Lax.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /auth/refresh:
    post:
      operationId: refresh
      summary: Rotasi refresh token dan terbitkan access token baru
      description: |
        Membaca refresh token dari cookie, tidak pernah dari body. Tanpa autentikasi karena
        memang harus begitu — ini yang kamu panggil *justru karena* access token-nya sudah
        kedaluwarsa.

        Setiap panggilan menerbitkan refresh token baru dan mencabut yang dipakai.
        **Menyodorkan token yang sudah dirotasi berarti ia dicuri**: seluruh rantai rotasi
        dicabut dan semua sesi user itu berakhir, bukan sekadar request ini yang ditolak.
      security: []
      responses:
        "200":
          description: Terotasi.
          headers:
            Set-Cookie:
              description: Refresh token baru. Yang lama sudah dicabut.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      operationId: logout
      summary: Cabut refresh token yang sedang dipakai
      description: |
        Mencabut refresh token di cookie lalu menghapusnya. Access token tidak dicabut — ia
        stateless dan kedaluwarsa sendiri dalam 15 menit.

        Idempoten: logout dua kali, atau tanpa cookie sama sekali, tetap `204`. Tidak ada yang
        berguna untuk diceritakan tentang sesi yang memang sudah hilang.
      responses:
        "204":
          description: Keluar. Cookie dihapus.
          headers:
            Set-Cookie:
              description: Cookie refresh yang sudah kedaluwarsa.
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me:
    get:
      operationId: getMe
      summary: Usaha, peran, dan izin pengguna yang sedang masuk
      description: |
        Sumber kebenaran untuk klien soal siapa dirinya dan apa yang boleh ia lakukan.

        Frontend membaca `permissions` dari sini dan **tidak merender** aksi yang tidak ada di
        dalamnya. Tombol nonaktif yang tetap `403` mengiklankan kemampuan yang tidak dimiliki
        penggunanya dan melahirkan tiket support (BR-003).

        Jangan mem-parsing access token di klien untuk mendapat data ini. Token itu untuk
        server; men-decode-nya di browser membuat dua sumber kebenaran yang bisa berbeda.
      responses:
        "200":
          description: Sesi yang sedang berjalan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /settings:
    get:
      operationId: getSettings
      summary: Baca knob pemilik
      description: |
        Satu-satunya tempat knob pemilik hidup. Tidak satu pun konsumennya boleh menyimpan
        default-nya sendiri — itu inti BR-024, BR-027, BR-038, dan BR-057 sekaligus.
      responses:
        "200":
          description: Knob usaha ini.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    patch:
      operationId: updateSettings
      summary: Ubah knob pemilik
      description: |
        Hanya peran `owner`. `operator` yang memanggilnya dibalas `403` yang **menyebut**
        `settings:write` di `detail` (BR-003).

        Key yang absen dibiarkan apa adanya; `null` eksplisit adalah `422`. Slug yang sudah
        terisi tidak bisa dikosongkan lagi lewat endpoint ini — mencabut halaman publik
        usaha adalah keputusan yang belum punya kontraknya.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettingsUpdate"
      responses:
        "200":
          description: Knob sesudah diubah.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /users:
    get:
      operationId: listUsers
      summary: Akun di usaha ini
      description: |
        Hanya peran `owner` (`users:read`). `operator` tidak boleh menyentuh endpoint ini
        sama sekali — bukan melihatnya lalu ditolak (BR-003).
      responses:
        "200":
          description: Akun di usaha ini.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: inviteUser
      summary: Undang akun ke usaha ini
      description: |
        Membuat baris `users` berstatus `invited` tanpa password. Tanpa endpoint ini peran
        `operator` ada di matriks izin tapi tidak ada cara memakainya.

        **Email unik global.** Alamat yang sudah dipakai di usaha mana pun ditolak
        `422 email-taken`, dan itu yang membuat login cukup email + password (BR-004).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
      responses:
        "201":
          description: Akun terbit, menunggu undangan diterima.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    patch:
      operationId: updateUser
      summary: Ubah peran atau status akun
      description: |
        `email` dan `owner_id` tidak bisa diubah. Satu user milik tepat satu usaha, dan
        alamatnya yang menunjuk usaha itu saat login (BR-004).

        Id milik usaha lain dibalas **`404`, bukan `403`** — baris usaha lain tidak bisa
        dibedakan dari baris yang memang tidak ada (BR-001).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: Akun sesudah diubah.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      operationId: disableUser
      summary: Nonaktifkan akun
      description: |
        Menyetel `users.status = 'disabled'`. **Barisnya tidak dihapus** — `created_by` di
        tabel lain harus tetap bisa dijelaskan, dan riwayat yang menunjuk akun hilang tidak
        bisa dibaca siapa pun.

        Sesi yang dicabut mati dalam **≤ 15 menit**, batas TTL access token. Refresh yang
        datang sesudahnya ditolak, jadi tidak ada sesi yang hidup lebih lama dari itu.
      responses:
        "204":
          description: Akun nonaktif. Barisnya tetap ada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /resources:
    get:
      operationId: listResources
      summary: Jenis barang di usaha ini
      description: |
        Jenis barang, bukan unit fisiknya (BR-010). Operator ikut membacanya — seluruh
        pekerjaannya, dari booking sampai serah-terima, menunjuk katalog ini.
      responses:
        "200":
          description: Jenis barang di usaha ini.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Resource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createResource
      summary: Daftarkan jenis barang baru
      description: |
        Hanya peran `owner` (`resources:write`).

        **`pricing_unit` tidak ada di body dan memang tidak bisa dikirim.** Server
        mengisinya dari `owners.business_type` saat barisnya dibuat (BR-012, BR-017),
        dan karena ia tidak terdaftar di `ResourceCreate`, klien yang digenerate tidak
        punya field-nya sama sekali — penolakan di waktu kompilasi, bukan `422`.

        Empat nominal boleh `null` atau dihilangkan, dan dua-duanya berarti aturannya
        tidak berlaku untuk barang ini. **`0` ditolak database** (BR-016).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceCreate"
      responses:
        "201":
          description: Jenis barang terbit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /resources/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      operationId: getResource
      summary: Satu jenis barang
      responses:
        "200":
          description: Jenis barang itu.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      operationId: updateResource
      summary: Ubah jenis barang
      description: |
        Hanya peran `owner` (`resources:write`). Field `base_price`, `deposit_amount`,
        dan `late_fee_per_unit` butuh **`pricing:write`** di atas itu — BR-003 menyebut
        nominalnya, bukan endpoint-nya.

        **Mengubah harga tidak menyentuh booking mana pun** (BR-014). Responsnya
        menyebut berapa booking berjalan yang tetap memakai harga lama, supaya pemilik
        tidak perlu menebak.

        Untuk keempat nominal, **`null` eksplisit adalah satu-satunya cara mencabut**
        nilai yang sudah ada; menghilangkan key-nya membiarkan nilainya apa adanya.
        Itu pengecualian yang disengaja terhadap konvensi "`null` eksplisit = `422`",
        yang berlaku untuk field yang dikelola server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceUpdate"
      responses:
        "200":
          description: Jenis barang sesudah diubah, beserta dampaknya ke booking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceUpdated"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      operationId: deleteResource
      summary: Hapus jenis barang
      description: |
        Hanya peran `owner` (`records:delete`) — BR-003 melarang operator menghapus
        apa pun, dan itu sebagian besar alasan seorang juragan mau membagikan akun.

        Soft delete: `deleted_at` terisi, barisnya tetap ada. Booking lama menunjuk
        snapshot-nya sendiri (BR-014), jadi riwayat tetap terbaca.
      responses:
        "204":
          description: Jenis barang terhapus. Barisnya tetap ada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /resources/{id}/units:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      operationId: listUnits
      summary: Unit fisik dari satu jenis barang
      description: |
        Tiga Avanza adalah satu `Resource` dan tiga `ResourceUnit` — booking selalu
        menunjuk satu unit, tidak pernah hanya jenisnya (BR-010).
      responses:
        "200":
          description: Unit fisik jenis barang itu.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ResourceUnit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      operationId: createUnit
      summary: Tambah unit fisik
      description: |
        Hanya peran `owner` (`units:write`).

        `code` **dikirim klien** — plat nomor atau nomor seri, yang dipakai operator
        mengenali barangnya secara fisik (BR-011). Jangan tertukar dengan
        `bookings.code`, yang dihasilkan server dari pencacah.

        Kode yang sudah dipakai di usaha ini dibalas `422` dengan `errors[].field`
        bernilai `code`. Usaha lain boleh memakai kode yang sama.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitCreate"
      responses:
        "201":
          description: Unit terbit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceUnit"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /units/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    patch:
      operationId: updateUnit
      summary: Ubah unit, termasuk statusnya
      description: |
        Hanya peran `owner` (`units:write`).

        **Mengubah status ke `maintenance` atau `retired` tidak menghapus dan tidak
        membatalkan booking yang sudah ada** untuk unit itu. Responsnya `200` beserta
        daftar booking terdampak, dan pemilik yang memutuskan (BR-013). Menolak
        perubahannya berarti memaksa juragan membatalkan sendiri satu per satu sebelum
        boleh bilang mobilnya di bengkel.

        Unit di luar `active` hilang dari pencarian ketersediaan, tapi tetap punya
        lajur `maintenance` di kalender; `retired` tidak punya lajur sama sekali.

        Tidak ada `GET /units/{id}` — daftarnya dibaca lewat jenis barangnya.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitUpdate"
      responses:
        "200":
          description: Unit sesudah diubah, beserta peringatannya.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitUpdated"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

    delete:
      operationId: deleteUnit
      summary: Hapus unit
      description: |
        Hanya peran `owner` (`records:delete`). Soft delete, dan kodenya kembali bisa
        dipakai — unique index-nya `WHERE deleted_at IS NULL` (BR-011).
      responses:
        "204":
          description: Unit terhapus. Barisnya tetap ada.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"


components:

  securitySchemes:

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT access token 15 menit untuk sesi UI. Ia berjalan di `Authorization: Bearer`.

        Usahanya diturunkan dari token dan **tidak pernah** dibaca dari header, query, maupun
        body — menerimanya dari request adalah eskalasi lintas-usaha yang sepele (BR-001).

        Satu pengecualian yang disengaja dan punya syarat: permukaan publik
        `<slug>.sewain.id` menurunkan usahanya dari header `Host`, karena `Host` bukan data
        aplikasi melainkan amplop routing yang sudah disaring proxy. Uraiannya di BR-030.

  parameters:

    Limit:
      name: limit
      in: query
      required: false
      description: Ukuran halaman. Berpasangan dengan `cursor`; tidak ada `offset` di API ini.
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        Cursor buram dari halaman sebelumnya. Hanya paginasi cursor — `offset` yang dalam di
        tabel besar adalah sequential scan, jadi parameternya tidak ada.
      schema:
        type: string

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        UUID yang dibuat klien, **satu per niat pengguna** — bukan satu per percobaan jaringan.
        Klien yang membuat kunci baru setiap retry sudah membatalkan seluruh gunanya.

        Kunci yang sama dijalankan sekali; panggilan berikutnya memutar ulang respons pertama
        bulat-bulat. Kunci yang masih berjalan dijawab `409 request-in-flight` (BR-090).
      schema:
        type: string
        format: uuid

  headers:

    RateLimit-Limit:
      description: Request yang diizinkan dalam jendela saat ini.
      schema:
        type: integer

    RateLimit-Remaining:
      description: Sisa request dalam jendela saat ini.
      schema:
        type: integer

    RateLimit-Reset:
      description: Detik sampai jendelanya reset.
      schema:
        type: integer

  schemas:

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          examples: ["budi@rentalbudi.id"]
        password:
          type: string
          format: password
          minLength: 8

    RegisterRequest:
      type: object
      description: |
        Empat field, dan tidak lebih. Tiap satu yang ditambahkan adalah tempat orang
        berhenti mengisi (BR-005).
      required: [email, password, business_name, business_type]
      properties:
        email:
          type: string
          format: email
          description: Unik di seluruh sistem, bukan per usaha (BR-004).
          examples: ["budi@contoh.id"]
        password:
          type: string
          format: password
          minLength: 8
        business_name:
          type: string
          minLength: 1
          examples: ["Rental Budi"]
        business_type:
          $ref: "#/components/schemas/BusinessType"

    BusinessType:
      type: string
      description: |
        Preset pasar, dipilih sekali saat mendaftar. **Ia yang menentukan `pricing_unit`
        seluruh resource pemilik itu** — juragan tidak pernah mengisi satuan harga di tiap
        barang (BR-012, BR-017).

        Enamnya ada di enum karena skema mengenal keenamnya, tapi **cuma dua yang dibuka di
        fase 1**: `vehicle_rental` dan `equipment_rental`, dua-duanya bersatuan `day`.
        `boarding_house` dan `apartment` fase 2, `venue` fase 3, `clinic` fase 4 — satuan
        `clinic` sengaja belum diputuskan, bukan ditebak.

        Layar daftar fase 1 karena itu merender **dua pilihan**, dengan bahasa juragan
        ("rental mobil & motor", "rental alat"), bukan nama enum ini.
      enum:
        - vehicle_rental
        - equipment_rental
        - boarding_house
        - apartment
        - venue
        - clinic
      examples: ["vehicle_rental"]

    Session:
      type: object
      description: |
        Dikembalikan login dan refresh. Membawa semua yang dibutuhkan klien untuk merender
        kerangka aplikasi tanpa request kedua.

        Refresh token **tidak** ada di sini — ia di cookie httpOnly, di luar jangkauan script
        mana pun di halaman itu.
      required: [access_token, expires_in, user, owner]
      properties:
        access_token:
          type: string
          description: JWT. Disimpan di memori saja, tidak pernah di localStorage.
        expires_in:
          type: integer
          description: Detik sampai access token kedaluwarsa.
          examples: [900]
        user:
          $ref: "#/components/schemas/SessionUser"
        owner:
          $ref: "#/components/schemas/SessionOwner"

    Me:
      type: object
      description: |
        Bentuk yang sama dengan `Session` dikurangi tokennya. `GET /me` dipanggil saat reload
        halaman, ketika access token sudah ada di memori dan yang dibutuhkan cuma konteksnya.
      required: [user, owner]
      properties:
        user:
          $ref: "#/components/schemas/SessionUser"
        owner:
          $ref: "#/components/schemas/SessionOwner"

    SessionUser:
      type: object
      required: [id, name, role, permissions, email_verified_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email_verified_at:
          type: [string, "null"]
          format: date-time
          description: |
            `null` selama email belum terverifikasi. Frontend merender dinding verifikasi
            dari field ini, bukan dari menebak lewat `403 email-not-verified` — gerbang itu
            bisa muncul di endpoint mana pun, jadi menebaknya berarti menebak di tiap layar
            (BR-006).
        role:
          type: string
          description: |
            Satu peran per orang, karena satu orang punya satu usaha (BR-003, BR-004).
          enum: [owner, operator]
        permissions:
          type: array
          description: |
            String `resource:action` yang diberikan peran itu. Klien **menyembunyikan** aksi
            yang tidak ada di sini, bukan menonaktifkannya — tombol yang `403` mengiklankan
            kemampuan yang tidak dimiliki penggunanya.
          items:
            type: string
            examples: ["bookings:write"]

    SessionOwner:
      type: object
      description: |
        Usaha tempat user ini bekerja. Tepat satu, selalu — tidak ada daftar dan tidak ada
        pengalih (BR-004).

        Tidak ada `currency`: uang di sistem ini selalu rupiah penuh sebagai integer
        (`120000` = Rp 120.000). Tidak ada `timezone`: waktu di kawat selalu UTC, dan
        Asia/Jakarta urusan render di frontend.
      required: [id, name, business_type]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          examples: ["Rental Budi"]
        business_type:
          $ref: "#/components/schemas/BusinessType"
        slug:
          type: [string, "null"]
          description: |
            Label subdomain usaha ini — `rentalbudi` berarti `rentalbudi.sewain.id` (BR-025).

            **`null` adalah keadaan awal setiap usaha**, bukan kasus pinggir: slug tidak
            ditanyakan saat daftar (BR-005) dan diisi belakangan dari `PATCH /settings`.
            Pemilik tanpa slug tidak punya host sama sekali — katalog publik maupun portal
            penyewa ikut tidak ada. Karena itu ia tidak `required`: usaha yang baru saja
            terbit lewat `POST /auth/register` tidak bisa memenuhinya.
          examples: ["rentalbudi"]

    Settings:
      type: object
      description: |
        Knob pemilik, semuanya. Tiap satu ada karena sebuah aturan bisnis melarang
        meng-hardcode-nya, dan `PATCH /settings` satu-satunya tempat mereka disetel.
      required:
        - slug
        - booking_code_prefix
        - require_payment_before_pickup
        - draft_expiry_hours
        - payment_due_hours
        - no_show_tolerance_hours
        - notify_pickup_reminder
        - notify_return_reminder
        - notify_overdue_reminder
        - whatsapp
        - address
        - operating_hours
      properties:
        slug:
          type: [string, "null"]
          description: |
            Sama dengan `SessionOwner.slug`: `null` adalah keadaan awal, dan di sinilah ia
            diisi — bukan saat daftar (BR-005, BR-025).

            **Belum ada yang membacanya sampai M5** (`S1-051`, `S1-060`). Ia tersimpan dan
            tervalidasi di sini, tapi halaman publiknya baru hidup 12 minggu kemudian, dan
            layar pengaturan wajib jujur soal itu.
          examples: ["rentalbudi"]
        booking_code_prefix:
          type: string
          pattern: "^[A-Z0-9]{2,6}$"
          default: SWN
          description: |
            Awalan kode booking, `SWN-0001`. Mengubahnya **tidak** menyentuh kode yang sudah
            terbit dan **tidak** me-reset pencacahnya (BR-024).
          examples: ["RBD"]
        require_payment_before_pickup:
          type: boolean
          default: false
          description: Kalau menyala, pengambilan ditolak selama invoicenya belum lunas (BR-038).
        draft_expiry_hours:
          type: integer
          minimum: 1
          default: 24
          description: Umur draft dari halaman publik sebelum dibatalkan otomatis (BR-027).
        payment_due_hours:
          type: integer
          minimum: 1
          default: 24
          description: |
            Tenggat bayar sejak invoice terbit. **`0` ditolak database** — tenggat nol berarti
            invoice yang lewat tempo pada detik ia terbit (BR-057).
        no_show_tolerance_hours:
          type: integer
          minimum: 0
          default: 3
          description: |
            Tenggang sesudah `start_at` sebelum booking ditandai `no_show`. **`0` diterima**,
            dan itu bedanya dengan `payment_due_hours` — pemilik yang mau membebaskan unitnya
            di hari yang sama memang menyetelnya nol (BR-057).
        notify_pickup_reminder:
          type: boolean
          default: true
          description: Pengingat H-1 ambil (BR-070).
        notify_return_reminder:
          type: boolean
          default: true
          description: Pengingat H-1 balik (BR-070).
        notify_overdue_reminder:
          type: boolean
          default: true
          description: Pengingat saat kondisi telat terpenuhi (BR-070).
        whatsapp:
          type: [string, "null"]
          pattern: "^\\+62[0-9]{8,13}$"
          description: |
            Nomor WhatsApp usaha, satu-satunya field profil yang dibaca mesin bukan mata:
            halaman publik menjadikannya tautan `wa.me`, jadi formatnya ditegakkan
            database. Nomor berformat bebas menghasilkan tautan mati di halaman yang
            seluruh gunanya menghubungi pemilik (BR-096).

            **`null` adalah keadaan awal setiap usaha** — pendaftaran cuma menanyakan
            empat hal (BR-005).
          examples: ["+628123456789"]
        address:
          type: [string, "null"]
          description: |
            Alamat usaha, dan **lokasi ambil default** kecuali juragan menulis lain di
            syarat sewa (BR-095, BR-096).
          examples: ["Jl. Kaliurang KM 5 No. 12, Sleman"]
        operating_hours:
          type: [string, "null"]
          description: |
            Teks bebas, dan sengaja tidak terstruktur: jam buka rental Indonesia penuh
            pengecualian, dan memaksanya jadi tujuh baris buka/tutup membuat juragan
            mengisi data yang salah atau tidak mengisi sama sekali (BR-096).
          examples: ["Senin–Sabtu 08.00–20.00, Minggu janjian dulu"]

    SettingsUpdate:
      type: object
      description: |
        Semua field opsional. Key yang absen dibiarkan apa adanya; `null` eksplisit adalah
        `422` — menghilangkan field dan mengirim `null` bukan hal yang sama.
      properties:
        slug:
          type: string
          examples: ["rentalbudi"]
        booking_code_prefix:
          type: string
          pattern: "^[A-Z0-9]{2,6}$"
        require_payment_before_pickup:
          type: boolean
        draft_expiry_hours:
          type: integer
          minimum: 1
        payment_due_hours:
          type: integer
          minimum: 1
        no_show_tolerance_hours:
          type: integer
          minimum: 0
        notify_pickup_reminder:
          type: boolean
        notify_return_reminder:
          type: boolean
        notify_overdue_reminder:
          type: boolean
        whatsapp:
          type: [string, "null"]
          pattern: "^\\+62[0-9]{8,13}$"
          description: |
            Nomor WhatsApp usaha, satu-satunya field profil yang dibaca mesin bukan mata:
            halaman publik menjadikannya tautan `wa.me`, jadi formatnya ditegakkan
            database. Nomor berformat bebas menghasilkan tautan mati di halaman yang
            seluruh gunanya menghubungi pemilik (BR-096).

            **`null` adalah keadaan awal setiap usaha** — pendaftaran cuma menanyakan
            empat hal (BR-005).
          examples: ["+628123456789"]
        address:
          type: [string, "null"]
          description: |
            Alamat usaha, dan **lokasi ambil default** kecuali juragan menulis lain di
            syarat sewa (BR-095, BR-096).
          examples: ["Jl. Kaliurang KM 5 No. 12, Sleman"]
        operating_hours:
          type: [string, "null"]
          description: |
            Teks bebas, dan sengaja tidak terstruktur: jam buka rental Indonesia penuh
            pengecualian, dan memaksanya jadi tujuh baris buka/tutup membuat juragan
            mengisi data yang salah atau tidak mengisi sama sekali (BR-096).
          examples: ["Senin–Sabtu 08.00–20.00, Minggu janjian dulu"]

    User:
      type: object
      description: |
        Akun di usaha ini. Tidak pernah memuat `password_hash` maupun `owner_id` — yang
        pertama rahasia, yang kedua sudah tersirat dari usaha pemanggilnya.
      required: [id, email, name, role, status]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          description: Unik di seluruh sistem, bukan per usaha (BR-004).
        name:
          type: string
        role:
          type: string
          enum: [owner, operator]
        status:
          type: string
          description: |
            `invited` sampai undangannya diterima, `disabled` sesudah dinonaktifkan. Nol
            endpoint di API ini yang menghapus baris `users`.
          enum: [invited, active, disabled]
        last_login_at:
          type: [string, "null"]
          format: date-time

    InviteUserRequest:
      type: object
      required: [email, name]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
          minLength: 1
        role:
          type: string
          enum: [owner, operator]
          default: operator

    UpdateUserRequest:
      type: object
      description: |
        Minimal satu field. `email` dan `owner_id` sengaja tidak ada di sini.
      properties:
        role:
          type: string
          enum: [owner, operator]
        status:
          type: string
          description: |
            `invited` tidak ada di sini — ia dikelola server dan cuma berlaku sebelum
            undangannya diterima.
          enum: [active, disabled]

    PricingUnit:
      type: string
      description: |
        Satuan harga. **Diisi server dari `owners.business_type`, tidak pernah dikirim
        klien** (BR-012, BR-017) — karena itu ia ada di `Resource` tapi tidak di
        `ResourceCreate` maupun `ResourceUpdate`.

        Ia dipakai dua kali di perhitungan uang: `duration_qty`, dan rumus denda telat
        `ceil(kelebihan / pricing_unit)` (BR-046). Nilai asing bukan data kotor, ia
        tagihan yang salah — jadi keempatnya juga ditegakkan CHECK di database.

        Fase 1 selalu `day`: kedua preset yang dibuka (`vehicle_rental`,
        `equipment_rental`) cuma punya satu satuan, jadi juragan rental tidak pernah
        melihat field satuan harga di layar mana pun.
      enum: [hour, day, week, month]

    ResourceStatus:
      type: string
      description: |
        `inactive` berarti barang itu tidak ditawarkan lagi tanpa menghapus riwayatnya.
      enum: [active, inactive]

    UnitStatus:
      type: string
      description: |
        Hanya `active` yang muncul di pencarian ketersediaan (BR-013). `maintenance`
        tetap punya lajur di kalender; `retired` tidak punya lajur sama sekali.

        Tidak ada `rented` di sini, dan itu disengaja: "sedang disewa" adalah turunan
        dari booking ber-status `picked_up`, bukan keadaan yang disimpan (BR-023).
        Dua sumber untuk satu fakta berarti satu di antaranya akan salah.
      enum: [active, maintenance, retired]

    Resource:
      type: object
      description: |
        Jenis barang. Unit fisiknya ada di `ResourceUnit`, dan booking selalu menunjuk
        unit — tidak pernah hanya jenisnya (BR-010).

        **Keempat nominal dan `category` wajib ada di respons walau bernilai `null`.**
        Di sebuah *request* "tidak dikirim" dan "`null`" adalah dua perintah berbeda;
        di respons tidak ada bedanya — barangnya berdeposit atau tidak. Menghilangkan
        key-nya memaksa klien menebak mana dari dua arti itu yang dimaksud, jadi
        field-nya selalu terbit dan `null` mengatakannya sendiri.
      required:
        - id
        - name
        - category
        - pricing_unit
        - base_price
        - deposit_amount
        - late_fee_per_unit
        - min_duration
        - max_duration
        - buffer_minutes
        - requires_id_verification
        - status
        - unit_count
        - description
        - terms_excludes
        - terms_requirements
        - terms_cancellation
        - vehicle
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          examples: ["Avanza 2021"]
        category:
          type: [string, "null"]
          examples: ["Mobil"]
        pricing_unit:
          $ref: "#/components/schemas/PricingUnit"
        base_price:
          type: integer
          format: int64
          description: |
            Rupiah penuh, bukan minor unit: `350000` berarti Rp 350.000.
          examples: [350000]
        deposit_amount:
          type: [integer, "null"]
          format: int64
          description: |
            `null` berarti barang ini tidak berdeposit — BR-045 tidak menerbitkan
            barisnya, dan BR-048/BR-049 tidak berlaku. **`0` ditolak database**: tidak
            ada kasus rental yang butuh deposit nol rupiah, dan kalau `0` dan `null`
            sama-sama berarti "tanpa deposit", tidak ada laporan yang bisa
            membedakannya lagi (BR-016).
          examples: [500000]
        late_fee_per_unit:
          type: [integer, "null"]
          format: int64
          description: |
            `null` berarti tanpa denda telat. Yang hilang cuma tagihannya —
            peringatan terlambat dan pengingatnya tetap jalan (BR-016, BR-041).
        min_duration:
          type: [integer, "null"]
          description: "`null` berarti tanpa batas bawah, bukan nol (BR-016, BR-021)."
        max_duration:
          type: [integer, "null"]
          description: "`null` berarti tanpa batas atas. `max < min` ditolak database."
        buffer_minutes:
          type: integer
          default: 0
          description: |
            Jeda wajib sesudah `end_at` sebelum unit yang sama bisa disewa lagi
            (BR-015). **Satu-satunya field opsional di sini yang tidak boleh kosong:**
            `end_at + NULL` menghasilkan NULL, dan rentang tak berbatas ke atas akan
            bentrok dengan seluruh booking masa depan unit itu. "Tanpa jeda" sudah
            persis sama dengan `0`.
          examples: [120]
        requires_id_verification:
          type: boolean
          default: false
          description: |
            Tidak ikut yang boleh `null`, walau BR-016 mendaftarnya di tabel yang sama:
            boolean bernilai `NULL` cuma menambah keadaan ketiga yang tidak berarti apa
            pun. "Tidak wajib" sudah persis sama dengan `false` (BR-085).
        status:
          $ref: "#/components/schemas/ResourceStatus"
        unit_count:
          type: integer
          description: |
            Unit `active` yang dimiliki jenis barang ini. Dihitung server. Nol berarti
            barang ini tidak akan pernah muncul di pencarian ketersediaan, berapa pun
            statusnya sendiri (BR-010) — dan layar katalog wajib mengatakannya.
        description:
          type: [string, "null"]
          maxLength: 500
          description: |
            Fitur dan perlengkapan, ditulis juragan (BR-095). Dirender halaman publik
            `S1-060`; sampai itu ia tersimpan dan tervalidasi tapi belum dibaca siapa pun.

            Menerima **markdown minimal** — tebal, miring, daftar berbutir; bukan HTML,
            dan tidak lebih dari ketiganya. `maxLength` menghitung penandanya juga, jadi
            `**AC dingin**` memakan 15 karakter, bukan 9. Berlaku sama untuk ketiga
            `terms_*` di bawah (BR-095).
          examples: ["AC dingin, charger HP, audio Bluetooth, kartu e-Toll."]
        terms_excludes:
          type: [string, "null"]
          maxLength: 500
          description: "Belum termasuk. Kosong = bagian ini tidak ditampilkan. Markdown minimal (BR-095)."
        terms_requirements:
          type: [string, "null"]
          maxLength: 1000
          description: Syarat sewa — dokumen, jaminan, usia, wilayah. Markdown minimal (BR-095).
        terms_cancellation:
          type: [string, "null"]
          maxLength: 1000
          description: |
            Pembatalan & perubahan. **Hanya untuk yang tidak dijalankan sistem** —
            refund dan reschedule dieksekusi manual oleh juragan di fase 1. Tenggat
            bayar, denda telat, dan toleransi no-show TIDAK ditulis di sini: server
            merakitnya dari kolomnya sendiri, dan mengetiknya ulang membuat halaman
            publik berbohong begitu knob-nya berubah. Markdown minimal (BR-095).
        vehicle:
          description: |
            Spek kendaraan, atau `null` untuk preset yang bukan `vehicle_rental`
            (BR-094). Bersarang, bukan diratakan: pembelahan generik-vs-kendaraan
            adalah inti keputusannya.
          oneOf:
            - $ref: "#/components/schemas/VehicleSpec"
            - type: "null"

    ResourceCreate:
      type: object
      description: |
        `pricing_unit` **sengaja tidak ada di sini** dan tidak akan pernah ada:
        server mengisinya dari preset pemiliknya (BR-017). Begitu juga `id`, `owner_id`,
        dan `unit_count`.
      required: [name, base_price]
      properties:
        name:
          type: string
          minLength: 1
        category:
          type: string
        base_price:
          type: integer
          format: int64
          minimum: 0
        deposit_amount:
          type: [integer, "null"]
          format: int64
        late_fee_per_unit:
          type: [integer, "null"]
          format: int64
        min_duration:
          type: [integer, "null"]
        max_duration:
          type: [integer, "null"]
        buffer_minutes:
          type: integer
          minimum: 0
          default: 0
        requires_id_verification:
          type: boolean
          default: false
        description:
          type: [string, "null"]
          maxLength: 500
        terms_excludes:
          type: [string, "null"]
          maxLength: 500
        terms_requirements:
          type: [string, "null"]
          maxLength: 1000
        terms_cancellation:
          type: [string, "null"]
          maxLength: 1000
        vehicle:
          $ref: "#/components/schemas/VehicleSpecInput"

    ResourceUpdate:
      type: object
      description: |
        Semua field opsional, dan key yang absen membiarkan nilainya apa adanya.

        **Untuk keempat nominal, `null` eksplisit mencabut nilainya** — itu satu-satunya
        caranya, dan itu pengecualian yang disengaja terhadap aturan umum "`null`
        eksplisit adalah `422`" yang berlaku untuk field yang dikelola server
        (`04-api-spec.md` §3.2). `buffer_minutes` tidak ikut: ia `NOT NULL`.
      properties:
        name:
          type: string
          minLength: 1
        category:
          type: [string, "null"]
        base_price:
          type: integer
          format: int64
          minimum: 0
        deposit_amount:
          type: [integer, "null"]
          format: int64
        late_fee_per_unit:
          type: [integer, "null"]
          format: int64
        min_duration:
          type: [integer, "null"]
        max_duration:
          type: [integer, "null"]
        buffer_minutes:
          type: integer
          minimum: 0
        requires_id_verification:
          type: boolean
        status:
          $ref: "#/components/schemas/ResourceStatus"
        description:
          type: [string, "null"]
          maxLength: 500
        terms_excludes:
          type: [string, "null"]
          maxLength: 500
        terms_requirements:
          type: [string, "null"]
          maxLength: 1000
        terms_cancellation:
          type: [string, "null"]
          maxLength: 1000
        vehicle:
          $ref: "#/components/schemas/VehicleSpecUpdate"

    ResourceUpdated:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required: [active_bookings]
          properties:
            active_bookings:
              type: integer
              description: |
                Booking berjalan yang **tetap memakai harga lama**, karena harga
                di-snapshot saat booking dibuat dan tidak pernah dibaca ulang (BR-014).
                Ia ada supaya pemilik yang menaikkan harga tahu persis berapa banyak
                yang tidak ikut naik, tanpa menebak.

                **Selalu `0` sampai `S1-022` membuat tabel `bookings`.** Bentuk
                responsnya mendarat sekarang supaya layarnya ditulis sekali; yang
                menyusul cuma isi query-nya.

    ResourceUnit:
      type: object
      description: |
        Barang fisiknya. Tiga Avanza adalah satu `Resource` dan tiga baris di sini,
        dan kalender menampilkan tiga lajur terpisah.
      required: [id, resource_id, code, label, status, meter_value, condition_notes, vehicle]
      properties:
        id:
          type: string
          format: uuid
        resource_id:
          type: string
          format: uuid
        code:
          type: string
          description: |
            Plat nomor atau nomor seri — yang dipakai operator mengenali barangnya
            secara fisik. Unik per usaha, bukan global: dua rental boleh sama-sama
            punya `B 1234 XY` (BR-011).

            **Tidak pernah muncul di permukaan publik** (BR-025).
          examples: ["B 1234 XY"]
        label:
          type: [string, "null"]
          description: Nama panggilan, buat dibacakan lewat telepon.
          examples: ["Avanza Putih"]
        status:
          $ref: "#/components/schemas/UnitStatus"
        meter_value:
          type: [integer, "null"]
          format: int64
          description: |
            Odometer atau jam pakai terakhir. Biasanya diisi serah-terima (`S1-035`);
            di sini supaya unit baru bisa mulai dari angka yang benar.
        condition_notes:
          type: [string, "null"]
        vehicle:
          description: |
            Detail kendaraan unit ini, atau `null` untuk preset yang bukan
            `vehicle_rental` (BR-094). Tidak satu pun field di dalamnya pernah keluar
            ke permukaan publik.
          oneOf:
            - $ref: "#/components/schemas/VehicleUnitDetail"
            - type: "null"

    UnitCreate:
      type: object
      required: [code]
      properties:
        code:
          type: string
          minLength: 1
        label:
          type: string
        meter_value:
          type: [integer, "null"]
          format: int64
        condition_notes:
          type: string
        vehicle:
          $ref: "#/components/schemas/VehicleUnitDetailInput"

    UnitUpdate:
      type: object
      description: |
        Semua field opsional. `resource_id` tidak ada di sini — memindahkan unit ke
        jenis barang lain akan membuat snapshot booking lama menunjuk jenis yang tidak
        pernah disewa (BR-014), dan itu perubahan kontrak, bukan satu field.
      properties:
        code:
          type: string
          minLength: 1
        label:
          type: [string, "null"]
        status:
          $ref: "#/components/schemas/UnitStatus"
        meter_value:
          type: [integer, "null"]
          format: int64
        condition_notes:
          type: [string, "null"]
        vehicle:
          $ref: "#/components/schemas/VehicleUnitDetailInput"

    UnitUpdated:
      allOf:
        - $ref: "#/components/schemas/ResourceUnit"
        - type: object
          required: [warning]
          properties:
            warning:
              $ref: "#/components/schemas/UnitWarning"

    UnitWarning:
      type: object
      description: |
        Apa yang terdampak oleh perubahan ini. Ia **peringatan, bukan penolakan**:
        barisnya sudah berubah waktu badan ini dibaca (BR-013).
      required: [affected_bookings]
      properties:
        affected_bookings:
          type: array
          description: |
            Booking yang sudah ada untuk unit ini dan **tidak** dibatalkan maupun
            dihapus. Pemilik yang memutuskan apa yang terjadi pada masing-masing.

            **Selalu kosong sampai `S1-022` membuat tabel `bookings`.**
          items:
            $ref: "#/components/schemas/AffectedBooking"

    AffectedBooking:
      type: object
      required: [code, start_at, end_at, status]
      properties:
        code:
          type: string
          examples: ["SWN-0043"]
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        status:
          type: string

    VehicleType:
      type: string
      description: |
        Mobil atau motor (BR-094). **Dipilih per resource, bukan per usaha** — rental
        yang menyewakan keduanya harus muat di satu akun, jadi preset tetap satu
        (`vehicle_rental`) dan jenisnya ditanyakan di sini.

        **Dikunci sesudah resource dibuat**, dan alasannya mekanis: CHECK
        `(vehicle_type = 'car') = (seats IS NOT NULL)` membuat motor→mobil melanggar
        constraint kecuali kursinya ikut diisi di transaksi yang sama. Karena itu ia
        tidak ada di `VehicleSpecUpdate`.
      enum: [car, motorcycle]

    Transmission:
      type: string
      description: |
        `clutch` (kopling) **hanya ada di motor**, ditegakkan database (BR-094).
      enum: [manual, automatic, clutch]

    Fuel:
      type: string
      description: |
        `diesel` **hanya ada di mobil**, ditegakkan database (BR-094).
      enum: [gasoline, diesel, hybrid, electric]

    VehicleSpec:
      type: object
      description: |
        Spek kendaraan untuk satu jenis barang, satu-ke-satu dengan `Resource`
        (BR-094). Hanya ada pada pemilik berpreset `vehicle_rental`; preset lain
        membawa `vehicle: null`.
      required: [vehicle_type, transmission, seats, fuel]
      properties:
        vehicle_type:
          $ref: "#/components/schemas/VehicleType"
        transmission:
          $ref: "#/components/schemas/Transmission"
        seats:
          type: [integer, "null"]
          minimum: 2
          maximum: 20
          description: |
            **Wajib pada mobil, dilarang pada motor** — satu CHECK berbentuk kesetaraan
            menegakkan dua arah sekaligus. Versi "mobil wajib punya kursi" saja akan
            menerima motor berkursi empat tanpa satu pun test merah.
          examples: [7]
        fuel:
          $ref: "#/components/schemas/Fuel"

    VehicleSpecInput:
      type: object
      required: [vehicle_type, transmission, fuel]
      properties:
        vehicle_type:
          $ref: "#/components/schemas/VehicleType"
        transmission:
          $ref: "#/components/schemas/Transmission"
        seats:
          type: [integer, "null"]
          minimum: 2
          maximum: 20
        fuel:
          $ref: "#/components/schemas/Fuel"

    VehicleSpecUpdate:
      type: object
      description: |
        `vehicle_type` sengaja tidak ada: ia dikunci sesudah resource dibuat (BR-094).
        Juragan yang salah pilih jenis membuat resource baru.
      properties:
        transmission:
          $ref: "#/components/schemas/Transmission"
        seats:
          type: [integer, "null"]
          minimum: 2
          maximum: 20
        fuel:
          $ref: "#/components/schemas/Fuel"

    VehicleUnitDetail:
      type: object
      description: |
        Detail kendaraan untuk satu unit fisik (BR-094).

        **Tidak satu pun field di sini keluar ke permukaan publik.** `resource_units.code`
        adalah plat nomor dan BR-025 sudah melarangnya keluar; pajak dan STNK adalah
        catatan juragan untuk armadanya sendiri.
      required: [year, color, tax_due_on, registration_valid_until]
      properties:
        year:
          type: integer
          minimum: 1990
          description: |
            Batas atasnya di database longgar sampai 2100, dan "tahun depan" disempitkan
            aplikasi — predikat itu butuh `now()`, sedangkan CHECK wajib IMMUTABLE.
          examples: [2021]
        color:
          type: [string, "null"]
          examples: ["Putih"]
        tax_due_on:
          type: [string, "null"]
          format: date
          description: Jatuh tempo pajak tahunan. Hanya dilihat juragan.
        registration_valid_until:
          type: [string, "null"]
          format: date
          description: STNK berlaku sampai. Hanya dilihat juragan.

    VehicleUnitDetailInput:
      type: object
      required: [year]
      properties:
        year:
          type: integer
          minimum: 1990
        color:
          type: [string, "null"]
        tax_due_on:
          type: [string, "null"]
          format: date
        registration_valid_until:
          type: [string, "null"]
          format: date

    ErrorCode:
      type: string
      description: |
        Kode error generik yang dipakai setiap endpoint sebelum sampai ke aturan bisnisnya.
        Kode spesifik per aturan bisnis ada di `04-api-spec.md` §2 dan ditambahkan oleh item
        backlog yang memilikinya.

        Kodenya juga jadi segmen terakhir URI `Problem.type`, dan memakai **hyphen**, bukan
        underscore.
      enum:
        - unauthenticated
        - permission-denied
        - validation-failed
        - not-found
        - rate-limited
        - internal
        - email-taken
        - slug-taken
        - slug-invalid
        - email-not-verified
        - verification-token-invalid
        - request-in-flight

    ProblemError:
      type: object
      description: |
        Satu detail per-field di dalam `Problem`. Ia membawa apa pun yang dibutuhkan kegagalan
        spesifiknya, jadi properti tambahan diizinkan secara desain.
      required: [field]
      properties:
        field:
          type: string
          examples: ["email"]
        detail:
          type: string
      additionalProperties: true

    Problem:
      type: object
      description: |
        RFC 9457 `application/problem+json`. Setiap respons error di API ini memakainya.

        `trace_id` adalah trace id OpenTelemetry — tiket support yang mengutipnya langsung
        menunjuk ke span-nya. Tidak ada field `code` terpisah: kodenya adalah segmen terakhir
        `type` (BR-092).
      required: [type, title, status, trace_id]
      properties:
        type:
          type: string
          format: uri
          examples: ["https://sewain.id/problems/permission-denied"]
        title:
          type: string
          examples: ["Tidak punya izin"]
        status:
          type: integer
          examples: [403]
        detail:
          type: string
          examples: ["Aksi ini butuh izin bookings:write."]
        instance:
          type: string
          examples: ["/api/v1/bookings/01926f3a-0000-7000-8000-000000000000"]
        trace_id:
          type: string
          examples: ["4bf92f3577b34da6a3ce929d0e0e4736"]
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ProblemError"

  responses:

    BadRequest:
      description: Request tidak berbentuk.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Unauthorized:
      description: Kredensial tidak ada, kedaluwarsa, atau tidak sah.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Forbidden:
      description: |
        Terautentikasi tapi tidak diizinkan. **`detail` menyebut izin yang dibutuhkan**, supaya
        pemanggil bisa membedakan "kamu tidak bisa melakukan ini" dari "kamu belum bisa, minta
        izin `bookings:write`" (BR-003).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    NotFound:
      description: |
        Tidak ada data seperti itu **di usaha ini**. Baris milik usaha lain tidak bisa
        dibedakan dari baris yang memang tidak ada, dan itu memang yang diinginkan — selisih
        respons antar kasus adalah cara katalog usaha lain bocor (BR-001, BR-030).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Conflict:
      description: |
        Bentrok dengan keadaan sekarang. Di fase ini: `request-in-flight` ketika
        `Idempotency-Key` yang sama masih diproses (BR-090).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    UnprocessableEntity:
      description: |
        Validasi gagal. Juga dikembalikan ketika klien mengirim field yang dikelola server saat
        update, atau mengirim `null` padahal key-nya seharusnya cukup diabaikan — dua hal itu
        tidak sama.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    TooManyRequests:
      description: Batas laju terlampaui. Lihat header `RateLimit-*`.
      headers:
        RateLimit-Limit:
          $ref: "#/components/headers/RateLimit-Limit"
        RateLimit-Remaining:
          $ref: "#/components/headers/RateLimit-Remaining"
        RateLimit-Reset:
          $ref: "#/components/headers/RateLimit-Reset"
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
